@import url("https://cdn.syncfusion.com/ej2/material.css");


.block-left{
  float: left;
  width: 10%;
  padding:15px;
  box-sizing: border-box;
}
.block-midle{
  float: left;
  width: 25%;
  padding:15px;
  box-sizing: border-box;
}
.block-right{
  float: left;
  width: 60%;
  padding:15px;
  box-sizing: border-box;
} 
